.container {
  width: 500px;
  background-color: white;
  margin: 20px auto;
}

.box {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
  border-radius: 2px;
  padding: 80px 56px;
  padding-bottom: 30px;
  margin: 30px;
}

h2 {
  font-weight: 500;
  color: rgb(255,64,129);
}
